{% extends "winter-2014/menu.html" %}

{% block page %}

<h1>Office Hours</h1>

<p>In addition to the hours below, you
  can <a href="http://zappala.byu.edu/schedule">view my
    schedule</a> to see when I am likely to be around for
  additional help.</p>

<!-- Monday -->

<div class="row office">
  <div class="large-2 columns day">Monday</div>
  <div class="large-2 columns hours">
    12 - 2pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 6pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 5pm
  </div>
  <div class="large-3 columns hours">
    Prof. Zappala
  </div>
  <div class="large-5 columns hours">
    2228 TMCB
  </div>
</div>

<!--- Tuesday -->

<div class="row office">
  <div class="large-2 columns day">Tuesday</div>
  <div class="large-2 columns hours">
    1 - 6pm
  </div>
  <div class="large-3 columns hours">
    James
  </div>
  <div class="large-5 columns hours">
    1058 TMCB, cubicle 17
  </div>
</div>

<!-- Wednesday -->

<div class="row office">
  <div class="large-2 columns day">Wednesday</div>
  <div class="large-2 columns hours">
    12 - 2pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 6pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 5
  </div>
  <div class="large-3 columns hours">
    Prof. Zappala
  </div>
  <div class="large-5 columns hours">
    2228 TMCB
  </div>
</div>

<!--- Thursday -->

<div class="row office">
  <div class="large-2 columns day">Thursday</div>
  <div class="large-2 columns hours">
    1 - 6pm
  </div>
  <div class="large-3 columns hours">
    James
  </div>
  <div class="large-5 columns hours">
    1058 TMCB, cubicle 17
  </div>
</div>

<!-- Friday -->

<div class="row office">
  <div class="large-2 columns day">Friday</div>
  <div class="large-2 columns hours">
    12 - 2pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 6pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

<div class="row">
  <div class="large-offset-2 large-2 columns hours">
    4 - 5
  </div>
  <div class="large-3 columns hours">
    Prof. Zappala
  </div>
  <div class="large-5 columns hours">
    2228 TMCB
  </div>
</div>

<!-- Saturday -->

<div class="row office">
  <div class="large-2 columns day">Saturday</div>
  <div class="large-2 columns hours">
    9am - 12pm
  </div>
  <div class="large-3 columns hours">
    Nozomu
  </div>
  <div class="large-5 columns hours">
    2212 TMCB
  </div>
</div>

{% endblock %}
