{% extends "fall-2015/menu.html" %}

{% block page %}

{% filter markdown %}

# Lab: Threaded Messaging Service

The goals of this assignment are (1) to learn how to use the pthreads
library to manage threads, (2) to understand how to create a
multi-threaded server, (3) to understand how and where to use basic
thread synchronization, and (4) to gain practice with client software
that can issue multiple requests over a socket.

In this assignment, you will convert your [singly-threaded messaging
server](/winter-2014/labs/messaging-service) into a multithreaded
server.

## Messaging Server

<img class="right height-400" src="/static/figures/thread-pool-architecture.png">

Modify your server so that it creates a thread pool with 10 threads.
When a new client arrives, the server should add it to a queue of
connections.  The threads in the pool should remove one connection
from the queue, handle all of its requests until the client closes the
socket, and then go back to the queue. If the queue does not have a
connection available, the thread should sleep until a connection is
ready.
      

Because the server is multi-threaded, you will need to ensure that
your code uses shared memory synchronization to protect access to the
queue and to other data structures you are using to keep track of
messages that have been stored on the server. A good way to do this is
to use a mutex with condition variables, following the
producer-consumer pattern discussed in class.

<h2 class="clear">Report</h2>

When you turn in your program, include a short report that describes
how you synchronized code in your lab. Show an excerpt of the
thread-safe classes you have used and describe how they work.. This
report should be a PDF.

## Submission

* Create a tgz of your program directory.  Remove any binaries and
  send only the source code and your Makefile.  For example, if your
  code is in the directory called lab2, then you would type this:

    <pre>
    cd lab2
    make realclean
    cd ..
    tar -czvf lab2.tgz lab2
    </pre>

* Submit your report and the tgz file using [learningsuite.byu.edu](http://learningsuite.byu.edu).


## Code Review

About a week after the labs are due, each student will email their
code to two other students in the class. The TAs will publish a
document showing who to email your code to. You will then run tests on
your own code as well as the code from other students, using the [code
review sheet]({{url_for("show",directory="fall-2015/labs",page="threaded-messaging-service-code-review")}}).
You will turn in a printed code review sheet for both your code and
their code. This will give you an opportunity to see how someone
else's code works and to learn from how they have written their code.

## Grading

Your lab will be tested as specified in the [grading
sheet]({{url_for("show",directory="fall-2015/labs",page="threaded-messaging-service-grading")}}).

As a part of testing, we will use the [load testing
script](https://github.com/zappala/messaging-service-python) posted at
Github.

If you wish to receive help with your code, then you should print out
clear and concise debugging information when the debugging flag is
given on the command line. The more helpful and clear your debugging
information is, the better your chances for getting useful help. You
should apply this same standard to how you document your code.

{% endfilter %}

{% endblock %}
