{% extends "fall-2015/menu.html" %}

{% block page %}

{% filter markdown %}

# Lab: Web Application

In this assignment, you will write a web database application.  The
goals of this assignment are to (1) learn how to design a model for a
database appliction, and (2) gain experience designing a user
interface for a web application, and (3) learn how to program a web
application using a modern framework.

## Requirements

Your application must meet these general requirements:

Your application must meet these general requirements:

* Have a back end that stores data in MongoDB

* Support an authenticated REST interface as an API for the back end

* Have a front end that uses React and follows good [web design principles](http://cs360.byu.edu/static/lectures/winter-2014/web-design.pdf).

I encourage you to build something that benefits society in some way,
in keeping with the mission of BYU. A good way to start is to choose
something that you are passionate about. For example, my passions are
family history work and civic hacking. Try to find what motivates you.

In addition, you must:

* Have the code stored in GitHub using the open source license of your
choice

* Host the final project on a web site. We'll share some details of
how to do this.

## Teams and Individual Requirements

You are encouraged to work in teams of up to 4 members, but you may
work alone. For a solo project, the application should include at least the
minimum functionality required to demonstrate your idea. For teams, each
additional person should add additional functionality.

Each person on the project is required to implement one or more features
on both the front end and back end. **Your commit history in your GitHub
account will be used to substantiate your contribution.** 

## Wiki

When you are finished with your application, write the following
information on your GitHub Wiki:

* *Description*: Explain the purpose of the site and what
functionality you implemented. Include a few relevant screenshots
showing what the site can do, and write a short paragraph describing
each one.

* *Database Schema*: Describe how data is stored in your database.
Show your JSON document structure and explain what it
contains.

* *Future Work*: Describe a roadmap for future development, with
additional features you could add or changes to the interface.

## Report

Each group member should write an individual, separate
report, describing in detail the contributions he or she made to
the project.

## Final Submission

When finished with your final project, each group member must submit
the following:

* A PDF of your individual report
* In the text area of the submission, include the names of your
fellow group members, the URL of your
GitHub account, the URL where your application is hosted, and
any login information needed for an administrative user.

## Grading

This assignment is worth 250 points, using the following scale:

* Wiki Materials: 50 points. Judged based on the clarity and quality of your
materials.

* Utility of the application: 150 points. Judged based on the features
completed, how useful this site would be to your target audience. The
size of your group will be taken into consideration.

* Design of the application: 50 points. Judged based on the overall
design, how well it follows web design principles and practice. We
will evaluate your front page experience in addition to the
application itself.

Your overall grade will be weighted based on your individual contributions,
as documented in your report and by your commit history.

{% endfilter %}

{% endblock %}
