{% extends "base.html" %}

{% set term = 'fall-2015' %}

{% macro render(directory,page,name) -%}
{% set path = term %}
{% if directory %}
{% set path = term + '/' + directory %}
{% endif %}
{% set target = page %}
{% if page == '' %}
{% set target = 'index' %}
{% endif %}
<li {% if active == target %}class="active"{% endif %}>
<a href={{url_for("show",directory=path, page=page)}} >{{name}}</a></li>
{%- endmacro %}

{% block term %}
Fall 2015
{% endblock %}


{% block menu %}

{{ render('','','Syllabus') }}
{{ render('','schedule','Schedule') }}
<li class="has-dropdown {% if previous == "homework" %}active{% endif %}">
  <a href="#">Homework</a>
  <ul class="dropdown">
    {{ render('homework','linux-command-line','Linux Command Line') }}
    {{ render('homework','make','Make') }}
    {{ render('homework','git','Git') }}
    {{ render('homework','socket-io','Socket I/O') }}
    {{ render('homework','mutexes-and-condition-variables','Mutexes and Condition Variables') }}
  </ul>
</li>
<li class="has-dropdown {% if previous == "labs" %}active{% endif %}">
  <a href="#">Labs</a>
  <ul class="dropdown">
    {{ render('labs','messaging-service','Messaging Service') }}
    {{ render('labs','threaded-messaging-service','Threaded Messaging Service') }}
  </ul>
</li>
<li class="has-dropdown {% if previous == "help" %}active{% endif %}">
  <a href="#">Help</a>
  <ul class="dropdown">
    {{ render('help','instructor','Instructor and TAs') }}
    {{ render('help','officehours','Office Hours') }}
    {{ render('help','code','Sample Code') }}
    <li><a href="https://piazza.com/byu/fall2015/cs360" target="_blank">Discussion <i class="fi-arrow-right"></i></a></li>
  </ul>
</li>
</ul>

{% endblock %}
