{% extends "fall-2015/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework: JavaScript

This homework is intended to ensure you have a basic understanding of JavaScript,
sufficient to use node.js and React for the next lab. The main concepts to know are
variables, types, expressions, control statements, and functions.

## Problems

Complete the following problems from [Eloquent JavaScript](http://eloquentjavascript.net/):

1. The Sum of a Range, first exercise in the [Data Structures chapter](http://eloquentjavascript.net/04_data.html).

1. A List, third exercise in the [Data Structures chapter](http://eloquentjavascript.net/04_data.html).

If you do not already know JavaScript, you may need to brush up on the concepts from the earlier chapters,
and perhaps do some of the earlier exercises as practice.

You can run this code in the sandbox provided by the book's
website. Be sure to copy and paste to a text file so you don't lose
your work if you leave the page. You may also use node.js to run the code
you have saved to a file.

## Homework

1. Show your answers to a partner and discuss any differences.

1. Discuss the problems in class.

{% endfilter %}

{% endblock %}
