{% extends "fall-2015/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework: Mutexes and Condition Variables

When using shared memory to communicate between threads, it is important
to use mutexes and condition variables to provide mutual exclusion and
synchronization. This homework will walk you through a simple example.

## Threading

Write a program that spawns two threads and then waits for them to
finish before exiting.  Thread A should generate a random
number between 1 and 100, print out "Storing [value]", and store it in
a variable. Thread B should read this number and print
"Reading [value]".

To create threads, use pthread_create(), as illustrated in [pthreads
examples in C++](https://github.com/zappala/pthreads-examples-c).

To communicate between the threads, create a class with a single variable
and pass a pointer to an instance of this class to each thread. The class
should have methods to set and get the value of the variable.

Note, unlike the examples, each thread will run a different function.

Run this code several times and observe what happens. Try inserting a
one second sleep at various places. You should see thread B sometimes
printing out zero (the value the shared variable was initialized to),
and sometimes printing out the correct random number.

## Mutexes

Add a mutex to the class and use the mutex lock and unlock methods to
provide mutual exclusion. These should be called from within the set
and get methods.

Run this code several times and observe what happens. Try inserting a one
second sleep at various places. You should see thread B sometimes
printing out zero (the value the shared variable was initialized to),
and sometimes printing out the correct random number. This depends on
which thread locks first.

## Condition Variables

Use a condition variable to signal from thread A to thread B when the
shared random value has been set. Thread A should call signal on the
condition variable and thread B should call wait.

Remove any sleeps you may have added previously, run this code several
times, and observe what happens. You should see Thread B printing
out the correct random number every time.


## Homework Assignment

1. Do all the above. Be sure to write a Makefile.

1. In class, show that your code compiles and runs correctly.

1. Compare your mutexes and condition variables to others in the
class. Did you do anything different?

{% endfilter %}

{% endblock %}
