    <div class="container">
      <div class="row-fluid">
	<div id="sidebar" class="span3 no-print">
	  {{ do_term() }}
	  {% block sidebar %}
	  {% endblock %}
	  <div class="brand">Daniel Zappala<br><span class="title">Associate Professor</span></div>
	  <hr>
	  <div class="personal">
	    <p>
	      <a href="//plus.google.com/114449822521576560110?prsrc=3"
		 rel="publisher" target="_top" style="text-decoration:none;">
		<img src="//ssl.gstatic.com/images/icons/gplus-32.png"
		     alt="Google+" style="border:0;width:32px;height:32px;margin-right:5px;"/>
	      </a>
	      <a href="https://twitter.com/Daniel_Zappala"><img src="/static/img/twitter.png" style="border:0;width:32px;height:32px;margin-right:5px;"></a>
	      <a href="http://www.linkedin.com/in/danielzappala/"><img src="/static/img/linkedin.png" style="border:0;height:32px;margin-right:5px;"></a>
	    </p>
	    <p><a href="http://zappala.byu.edu">zappala.byu.edu</a><br>
	    daniel.zappala@gmail.com</p>
	    <p>2228 TMCB<br>Brigham Young University<br>Provo, UT 84062</p>
	    <p>801-422-2195</p>
	    <hr>
	  </div>
	  <div id="license">
	    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> 
	    <p>&copy 2013 Daniel Zappala</p>
	  </div>
	</div>
