{% extends "fall-2013/menu.html" %}

{% block page %}

<h1>Sample Code</h1>

      <h2>Socket Programming</h2>

      <p>Code to demonstrate simple client-server networking in C++,
	using an echo client and server:</p>

      <p><a href="https://github.com/zappala/socket-programming-examples-c">
	Socket programming examples in C++</a></p>

      <h2>Thread Programming</h2>

      <p>C++ code that shows how to create threads using the pthreads
	library and how to synchronize threads using semaphores and
	mutexes.</p>

      <p><a href="https://github.com/zappala/pthreads-examples-c">pthreads
      examples in C/C++</a></p>

      <h2>Python Networking and Threading</h2>

      <P>Python code that shows how to use Python Requests, a client-side
	HTTP library, threading, and low-level socket programming.</p>

      <p><a href="https://github.com/zappala/python-networking-and-threading">Python Networking and Threading</a></p>

      <h2>Python Plotting Examples</h2>

      <p>Running an experiment and parsing the data to create graphs
	with matplotlib.</p>

      <ul>
	<li>
	  <a href="/static/code/plotting.tgz">Plotting</a>
	</li>
      </ul>

      <p><b>Note:</b> If you are using your own machine, install the
	python-matplotlib package.  If you are using the lab Linux
	machines, it is installed in my home directory.  Add the
	following to your .bashrc and .bash_profile files:</p>

<pre>
export PYTHONPATH=.:/users/faculty/zappala/lib64/python2.7:/users/faculty/zappala/lib64/python2.7/site-packages
</pre>

      <p>Once you log out and then log back in, the plotting script
	should work.</p>

{% endblock %}
