{% extends "base.html" %}

{% block term %}
<div class="term">
Fall 2013
</div>
{% endblock %}

{% block sidebar %}

<ul class="menu">
  <li><a href={{url_for("show",directory="fall-2013",page="")}}>Syllabus</a></li>
  <li><a href={{url_for("show",directory="fall-2013",page="schedule")}} >Schedule</a></li>
  <li><a href={{url_for("show",directory="fall-2013",page="officehours")}} >Office Hours</a></li>
  <li>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	Labs
	<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
	<li><a href={{url_for("show",directory="fall-2013/labs",page="messaging-service")}}>Messaging Service</a></li>
	<li><a href={{url_for("show",directory="fall-2013/labs",page="threaded-messaging-service")}}>Threaded Messaging Service</a></li>
	<li><a href={{url_for("show",directory="fall-2013/labs",page="download-accelerator")}}>Download Accelerator</a></li>
	<li><a href={{url_for("show",directory="fall-2013/labs",page="web-server")}}>Web Server</a></li>
      </ul>
    </div>
  </li>
  <li><a href={{url_for("show",directory="fall-2013",page="code")}} >Sample Code</a></li>
  <li><a href="https://groups.google.com/d/forum/byu-cs-360-internet-programming">Google Group</a> <i class="icon-share-alt"></i></li>
</ul>

<hr>

{% endblock %}
