{% extends "fall-2012/menu.html" %}

{% block page %}

      <h1 class=>Lab: REST Interface for Web Application</h1>

      <p>In this assignment, you will write a REST interface for your web
	database application.  The goals of this assignment are to (1) learn
	how to design a REST interface and (2) gain experience writing a
	simple Python appliction to access a REST interface.</p>

      <h2>Tasks</h2>

      <p>Design an implement a REST Interface for your application. Your
	interface should allow a user to login and logout of the application.
	In addition, it should include some other functionality that is
	useful. The endpoints you define should return JSON to the caller.</p>

      <p>Write a Python client that can login, accomplish some
	functionality, print output to the console, and then logout.</p>

      <p>Write a report that documents your REST interface. At the end,
	include a screenshot showing your program using it.</p>

      <h2>Submission</h2>

      <p>Turn in your code, the name and password of any relevant users
	needed to use the application, and a PDF of your report using
	<a href="http://learningsuite.byu.edu">learningsuite.byu.edu</a>.
      </p>

      <h2>Grading</h2>

      <p>This assignment is worth 50 points.  Your report will be graded
	based on the completeness and correctness of your interface.</p>
      

{% endblock %}
