{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">

      <h1 class="top">Course Description</h1>
      <p>This course covers Internet application programming in depth,
      including client-server and web applications. Topics include
      sockets, concurrency, thread-pool and event-driven
      architectures, experimental performance evaluation, web database
      application design, security issues. Languages include C++,
      Python, CSS, and Javascript.</p>

      <h1>Prerequisites</h1>
      <p>CS 240</p>

      <h1>Course Materials</h1>
      <ul>
	<li><a href="/fall-2012">2012 Fall</a></li>
      </ul>
    </div>
  </div>
</div>
      
{% endblock %}
