{% extends "fall-2013/sidebar.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Lab: Download Accelerator</h1>

      <p>In this assignment, you will create an HTTP downloader that
	can download a file in parallel using a number of concurrent
	number of threads. You will use Python for this assignment.</p>

      <p>The goals of this assignment are (1) to gain additional
	familiarity with using Python for writing networking code, (2)
	to learn how to use threading in Python, and (3) to understand
	the tradeoffs of parallelism in network programming.</p>

      <h2>Downloader</h2>

      <p>The downloader uses the following command line syntax:</p>

<pre>
downloadAccelerator.py [-n threads] url
</pre>

      <p>On starting, the downloader first sends a HEAD request to the web
	server specified in the URL, to determine the size of the object. If
	the object has a valid Content-Length field, it then downloads the
	object in parallel, using the specified number of threads. Each thread
	sends a GET request with a Range header that gives the range of bytes
	desired. The response should have a Content-Range header indicating
	the byte range of the response.</p>

      <p>The downloader saves the file in the current directory, using the
	same name as given in the URL. If the URL ends with "/", then the name
	"index.html" is implied.</p>

      <p>The downloader also reports, to standard output, the following:</p>

<pre>
[URL] [threads] [bytes] [seconds]
</pre>

      <p>where [URL] is the URL given on the command line, [bytes] is the
	number of total bytes in the object, and [seconds] is a floating point
	number indicating the time taken to download the object, starting from
	when the threads are created and ending when the last thread
	finishes.</p>

      <h2>Experiments</h2>

      <p>Several scripts for experiments are located in the 
	<a href="https://github.com/zappala/python-networking-and-threading">Python
	Networking and Threading GitHub repository</a>.

      <p>Use the

	<a href="https://github.com/zappala/python-networking-and-threading/blob/master/download-accelerator/experiments.py">experiments.py</a>

	script to run a set of experiments using your downloader on
	large files of sizes that are approximately 1 MB, 10 MB, and
	100 MB. This script will vary the number of threads from 1 to
	10 and repeat each experiment 10 times. Run the experiments
	both while on campus and while off campus.  If the 100MB file
	takes too long while off campus, you can skipt that part of
	the experiment.</p>

      <p>With the data you collect, use the

	<a href="https://github.com/zappala/python-networking-and-threading/blob/master/download-accelerator/plot.py">plot.py</a>

	script to graph the results. This script will create a series
	of box plots showing the median and the distribution of the
	download time versus the number of threads, for each file.</p>

      <h2>Python Setup</h2>

      <p>To run these scripts on your machine, you can install the Python
	dependencies into your system:</p>

<pre>
sudo apt-get install python-pip
sudo pip install requests
sudo pip install numpy
sudo pip install scipy
sudo pip install matplotlib
</pre>

      <p>Alternatively, you can install them in a virtual
	environment. This method also works to run these scripts on
	the CS machines. First install dependencies:</p>

<pre>
sudo apt-get install python-pip
sudo pip install virtualenv
</pre>

      <p>Or on the CS Linux machines:</p>

<pre>
easy_install pip
easy_install virtualenv
</pre>

      <p>Then create a virtual environment:</p>

<pre>
mkdir ~/virtualenvs
virtualenv ~/virtualenvs/cs360
source ~/virtualenvs/cs360/bin/activate
</pre>

      <p>You now are in a Python virtual environment, and you will be able
	to install packages in your home directory:</p>

<pre>
pip install requests
pip install numpy
pip install scipy
pip install matplotlib
</pre>

      <p>To deactivate the virtual environment:</p>

<pre>
deactivate
</pre>

      <h2>Report</h2>

      <p>Write a report that explains your methodology (how you ran the
	experiments and collected data), shows your graphs, and discusses what
	they show. Be sure to refer to the graphs in your report, for example
	"Figure 1 shows that ...". Explain whether there are benefits to
	downloading in parallel and discuss any tradeoffs.</p>

      <h2>Submission</h2>

      <ol>

	<li>Create a tgz of your program directory. Be sure to include a PDF
	  of your report. For example, if your code is in the directory called
	  download-accelerator, then you would type this:

<pre>
tar -czvf download-accelerator.tgz download-accelerator
</pre>

	</li>

	<li>Submit the tgz file using
	  <a href="http://learningsuite.byu.edu">learningsuite.byu.edu</a>.
	</li>

      </ol>

      <h2>Grading</h2>

      <p>Your lab will be tested as specified in the

	<a href={{url_for("show",directory="fall-2013/labs",page="download-accelerator-grading")}}>grading sheet</a>.

      </p>

      <p>If you wish to receive help with your code, then you should
	print out clear and concise debugging information when the
	debugging flag (-d) is given on the command line. The more
	helpful and clear your debugging information is, the better
	your chances for getting useful help. You should apply this
	same standard to how you document your code.</p>

    </div>
  </div>
</div>

{% endblock %}
