{% extends "fall-2013/sidebar.html" %}

{% macro item(text,score,criteria) -%}
<div class="box"></div>
<div class="item">{{ text }}</div>
<div class="score">{{ score }}</div>
<div class="clear"></div>
<div class="criteria">{{ criteria }}</div>
{%- endmacro %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Web Server Grading Sheet</h1>

      <p><i>The TA will fill out this sheet when grading your program.</i></p>

      <div class="border">
	Student Name:
      </div>

      <p><b>TA:</b> <i>Check the boxes below to indicate which tests pass
	  successfully.  Circle the boxes that do not work correctly and
	  include a written statement explaining the error that occured.</i></p>

      <h2>Basic Functionality</h2>
      
      {{ item("HTML File and Embedded Images",20,"Use a web browser to
      access the server and view the index.html file provided with the
      assignment. The server should provide both the index file and
      the embedded images. This should work for a URI that is either /
      or /index.html.") }}

      {{ item ("Large File",10,"Use a web browser to access the server
      and download largefile.txt. The server should provide the entire
      file.") }}

      {{ item("PDF File",10,"Use a web browser to download
      I-Have-A-Dream.pdf. The file should open properly in a PDF
      reader.") }}

      {{ item("Persistent Connection",20,"Use test script to verify
      that the server uses a persistent TCP connection, allowing the
      client to fetch multiple objects during one connection. The
      server should also timeout an idle connection based on the
      timeout period given in the configuration file.") }}

      {{ item("Headers",10,"Use test script to check that the server
      always returns a Date header with the correct date format and a
      Server header identifying the name of the server. Check that the
      server includes a valid Content-Length, Content-Type, and
      Last-Modified header.") }}

      <h2>Error Checking and Response Codes</h2>

      {{ item("Server handles bind errors",2,"Start two servers with
      the same port number and check whether a bind error is handled
      gracefully.") }}

      {{ item("400 Bad Request",2,"Use test script to check that the
      server returns a 400 error for the case when the client issues a
      request with the method or URI empty.") }}

      {{ item("403 Forbidden",2,"Use the test script to check that the
      server returns a 403 error when the client requests a file with
      no read permissions.")  }}
      
      {{ item("404 Not Found",2,"Use the test script to check that the
      server returns a 404 error when the client asks for a file that
      does not exist.") }}

      {{ item("501",2,"Use the test script to check that the server
      returns a 501 error when the client uses a method that does not
      exist.") }}

      <h2>Architecture</h2>

      {{ item("Code Review",20,"The TA will examine your code and
      compare it to your report to determine whether you have properly
      implemented the event-driven architecture.") }}

      {{ item("Load Test, Low Rate",25,"Use the stress test script to
      create a steady stream of requests at a low rate (10 threads
      busy for 10 seconds). Your server should handle this load
      well.") }}

      {{ item("Load Test, Moderate Rate",25,"Use the stress test
      script to create a steady stream of requests a moderate rate
      (100 threads busy for 10 seconds). Your server should handle
      this load well.") }}

      <h2>Extra Credit</h2>

      {{ item("HEAD and Range Requests",15,"Make your web server work
      with your download accelerator. This involves support HEAD
      requests and Range requests. Using the '-e' flag on the test script
      checks this functionality.") }}

      <p></p>
      <p><b>TA:</b> <i>Fill in the information below when testing is
	  complete and then turn the sheet in to the professor.</i></p>

      <div class="border">TA Name:</div>
      <div class="border">Score:</div>

    </div>
  </div>
</div>

{% endblock %}


